$nav-height: 90px;
$nav-logo-height: 30px;
$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;
$footer-text-big: 100px;
$footer-height: 210px;
$title-decoration-height: 90px;
$title-decoration-width: 70px;