.footer {
  align-items: center;
  background-color: #00ADEE;
  display: flex;
  flex-direction: column;
  height: $footer-height;
  justify-content: center;
  margin-top: 50px;
}

.wolox-white-logo {
  color: $white;
  font-size: $footer-text-big;
  letter-spacing: 25px;
}

.footer-text {
  color: $white;
  font-size: 27px;
}

.copyright {
  align-self: flex-end;
  color: $white;
  margin-right: 30px;
}

.upper {
  text-transform: uppercase;
}
