$tech-logo-size: 100px;

.technology {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 320px;
  margin: 15px;
  width: 230px;
  position: relative;

}

.container {
  display: flex;
  justify-content: center;
}

.wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cards {
  align-items: center;
}

.first-card {
  align-self: center;
  border-right: 1px solid $green;
  display: flex;
  grid-row: 1 / 3;
  height: 100%;
  justify-content: center;
  justify-self: end;
  max-height: 700px;
}

.logo {
  height: $tech-logo-size;
  margin: 10px 0;
  width: $tech-logo-size;
}

.technology-title {
  font-size: $text-medium;
  margin: 8px 0;
}

.technology-release {
  font-size: $text-medium;
  font-weight: bold;
  margin: 8px 0;
}

.technology-description {
  font-size: $text-small;
  text-align: center;
  width: 130px;
}
