$tech-logo-size: 100px;

.technology {
  align-items: center;
  background-color: $green;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 320px;
  margin: 15px;
  width: 230px;
  position: relative;

  &::before {
    border: 1px solid $green;
    border-radius: 5px;
    bottom: 10px;
    content: " ";
    height: 320px;
    position: absolute;
    right: 10px;
    width: 230px;
    z-index: -1;
  }
}

.container {
  display: flex;
  justify-content: center;
}

.wrap {
  display: flex;
  justify-content: space-between;
  width: 60%;
  flex-wrap: wrap;
}

.logo {
  height: $tech-logo-size;
  margin: 10px 0;
  width: $tech-logo-size;
}

.technology-title {
  font-size: $text-medium;
  margin: 8px 0;
}

.technology-release {
  font-size: $text-medium;
  font-weight: bold;
  margin: 8px 0;
}

.technology-description {
  font-size: $text-small;
  text-align: center;
  width: 130px;
}
