.title {
  font-size: $text-big;
  margin: 20px;
  position: relative;
  padding: 90px;

  &::after {
    content: '';
    background-image: url('./assets/triangle.svg');
    background-repeat: no-repeat;    
		height: 100px;
		left: 30px;
    position: absolute;   
		top: 56px;
		width: 100px;
    z-index: -1;    
  }
}
