$text-big: 24px;
$text-medium: 16px;
$text-small: 12px;
$title-decoration-height: 90px;
$title-decoration-width: 70px;

.title {
  font-size: $text-big;
  margin: 20px;
  position: relative;
  padding: 90px;

  &::after {
    content: '';
    background-image: url('./assets/triangle.svg');
    background-repeat: repeat-y;    
		display: block;    
		height: 100px;
		left: 30px;
    position: absolute;   
		top: 56px;
		width: 100px;
    z-index: -1;    
  }
}
