.title {
  font-size: $text-big;
  margin: 50px 200px 0;
  position: relative;
  padding: 90px;

  &::after {
    content: '';
    background-image: url('./assets/triangle.svg');
    background-repeat: no-repeat;
    height: 100px;
    left: 30px;
    position: absolute;
    top: 56px;
    width: 100px;
    z-index: -1;
  }
}

@media only screen and (max-width: 1024px) {
  .title {
    margin: 0;
  }
}
